[submodule "imageClassAPI"]
	path = imageClassAPI
	url = https://github.com/sirkells/Image-Classification-API
[submodule "textSimilarityAPI"]
	path = textSimilarityAPI
	url = https://github.com/sirkells/similarityAPI
